# Author: Abraham, Didum
# Friday, October 29, 2021
# Portal: gitignore.io
#----------------------------------------------
# didum-gitrepo - *.gitignore Configuration
# ---------------------------------------------

# ignores dot-gitignore extension file
