# Author: Abraham, Didum
# Friday, October 29, 2021
# Portal: gitignore.io
#----------------------------------------------
# didum-gitrepo - *.gitignore Configuration
# ---------------------------------------------

# ignores dot-gitignore extension file
.gitignore

# ignores .svn extension file
**/java-experiment/**/*.svn

# ignores .metadata extension file
*.metadata

# ignores .factorypath
**/java-experiment/**/*.factorypath

# ignores maven target directory
**/java-experiment/**/target

# ignores all .classpath file
**/java-experiment/**/*.classpath

# ignores all .project file
**/java-experiment/**/*.project

# ignores all .settings
**/java-experiment/**/*.settings

# ignores all bin-folders
**/java-experiment/**/bin
